NODE_ENV=development
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/postgres?schema=public
JWT_SECRET=your-jwt-secret
GEMINI_API_KEY=your-gemini-key

WEB_PORT=your-web-service-port
AUTH_SERVICE_PORT=your-auth-service-port
CONNECTION_SERVICE_PORT=your-connection-service-port
QUERY_SERVICE_PORT=your-query-service-port
CONVERSATION_SERVICE_PORT=your-conversation-service-port


POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-passward
POSTGRES_DB=your-db-name
POSTGRES_PORT=port


NEXT_PUBLIC_API_BASE_URL=
AUTH_SERVICE_URL=
CONNECTION_SERVICE_URL=
QUERY_SERVICE_URL=
CONVERSATION_SERVICE_URL=
NEXT_PUBLIC_CONVERSATION_SERVICE_URL=


ENCRYPTION_KEY=your-encryption-key


NEXT_PUBLIC_AUTH_API_URL=
NEXT_PUBLIC_CONNECTION_API_URL=
NEXT_PUBLIC_QUERY_API_URL=
NEXT_PUBLIC_CONVERSATION_API_URL=


EMAIL_USER=your-user-email
EMAIL_APP_PASSWORD=your-password

CLOUDINARY_CLOUD_NAME=cloudinary-cloud-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret